@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', monospace;
    color: #0f0;
    background: black;
    padding: 2rem;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    text-align: center;
    padding: 0.3rem; /* Réduction de l'espacement autour du conteneur */
}

#welcome-message, #next-message {
    opacity: 0;
    font-size: 1.1rem; /* Réduction de la taille du texte */
    animation-duration: 3s;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 0.3rem; /* Espacement réduit entre les messages */
}

#welcome-message {
    animation: fadeInOut 3s;
}

#next-message {
    animation: fadeInOut 3s 3s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

#content {
    display: none;
    width: 100%;
    max-width: 900px; /* Réduction de la largeur maximale */
    padding: 1rem; /* Réduction du padding */
    margin-top: 1rem; /* Espacement réduit au-dessus du contenu */
}

main.cv-container {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
}

p, li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

ul li::before {
    content: "> ";
    color: #0f0;
}

/* Hover effect */
h2:hover, p:hover, li:hover {
    color: #ff0;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

/* Responsive */
@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, li {
        font-size: 0.9rem;
    }
}
